*{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: white;
    border-radius: 0px 0px 5px 5px;
}
.header .img:hover{
    width: 250px;
    height: 80px;
    transition: .5s;
    
}
.header .itc:hover{
    width: 120px;
    height: 70px;
    transition: .5s;
}
#salas{
    color: black;
    text-decoration: none;
    font-size: 20px;
    background-color: gray;
    max-width: max-content;
    border-radius: 15px;
}
#salas:hover{
    color: white;
    background-color: black;
    border-radius: 15px;
}
#formulario{
    width: max-content;
    border-radius: 15px;
    backdrop-filter: blur(2.4px) saturate(150%);
    -webkit-backdrop-filter: blur(2.4px) saturate(150%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    background-color: rgba(255, 255, 255, 0.178);
    color: white;
}
body{   
    background: linear-gradient(to right,#1B396A,#807E82);
}
#input{
    border-radius: 30px;
}
table{
    border-radius: 15px;
}
#submit{
    display: block;
    margin: auto;
    width: 70px;
    height:40px ;
    background-color: #807e82;
    border-color: black;
    cursor: pointer;
    border-radius: 20px;
    color: black;
}
#submit:hover{
    display: block;
    margin: auto;
    width: 70px;
    height: 40px;
    background-color: #1B396A;
    border-color: white;
    cursor: pointer;
    border-radius: 20px;
    color: white;
}
